<div class="medium-10 medium-centered columns res-box transparent">
  <h2 class="resolutions-title">On Track:</h2>
  <% @resolutions.each_with_index do |resolution, index| %>
    <div class="row <%= "subtle-background" if index % 2 == 1 %>">
      <div class="medium-8 columns">
        <h4 class="on-track"><%= resolution.title %></h4>
      </div>
      <div class="medium-4 columns">
        <form action='/resolution/<%= resolution.id %>' class="trash-form" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="link-button"><i class="fa fa-trash fa-lg trash"></i></button>
        </form>
        <a href="#" class="button link-button fail-button"><i class="fail-link failed fa fa-frown-o fa-lg"></i></a>
      </div>
    </div>
  <% end %>

  <h2 class="resolutions-title">Failed:</h2>
  <% if @failed %>
    <% @failed.each_with_index do |resolution, index| %>
      <div class="row <%= "subtle-background" if index % 2 == 1 %>">
        <div class="medium-8 columns">
          <h4 class="on-track"><%= resolution.title %></h4>
        </div>
        <div class="medium-4 columns">
          <form action='/resolution/<%= resolution.id %>' class="trash-form" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="link-button"><i class="fa fa-trash fa-lg trash"></i></button>
          </form>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <div class="medium-10 columns">
        <h4 class="failed">Nothing! Keep up the good work!</h4>
      </div>
    </div>
  <% end %>
</div>

